.home_container {
  display: flex;
  flex-direction: row;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff1e2;
  height: 100vh;
  margin-left: 5rem;
  margin-right: 5rem;
}
.home_container_footer {
  margin-top: auto;
}
